* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

/*обертка*/
.wrapper {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url(img/les-anime.jpg);
    background-repeat: no-repeat;
    background-position: botton left;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*список*/

.dino-list {
    list-style: none;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: flex-end;
    position: relative;
}

/*блок*/
.dino-item {
    flex: 1;
}

/*загаловки*/
.subtitle {
    color: maroon;
    visibility: hidden;
}

/*блок. картинки. инфа*/
.dino-info {
    flex: 1;
}

/*картинка*/
.dino-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

/*стили блока при клики на него*/
.dino-item.active {
    width: 100%;
    height: 100%;
}

/*стили блоком на каторых НЕ кликали мышкой*/
.dino-item.hidden {
    width: 0;
    flex: 0;
}

/*описание*/
.teronozavr-img {}

/*описание*/
.dino-desc {
    position: absolute;
    width: 100%;

}

.stegozavar-img {}

.triceratops-img {}

/*Стиль картинку у активированного динозавра*/
.dino-item.active .dino-img {
    width: 60%;
    height: 60%;
    align-self: flex-start;
}

/* Описание динозавра у активного элемента */
.dino-item.active .dino-desc {
    background-color: rgba(255, 255, 255, 0.7);
    /* Цвет текста */
    color: black;
    /* Ширина блока */
    bottom: 0;
    left: 0;
    height: auto;
}

/* Показать заголовок блока активного динозавра */
.dino-item.active .subtitle {
    visibility: visible;
}